<a href="https://colab.research.google.com/github/rubyspch/Colaboratory-Notes/blob/main/shift_tshift.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/fb - Sheet1.csv', parse_dates=['Date'], index_col='Date')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [7]:
df.shift(1) #shifts the data by 1 day forward

             Price
Date
2017-08-15     NaN
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32

In [6]:
df.shift(-1) #negative numbers does it in the other direction

             Price
Date
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24
2017-08-28     NaN

use this to calculate price changes, eg add a previous day price column:

In [9]:
df["Prev Day Price"]=df["Price"].shift(1)
df

             Price  Prev Day Price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [10]:
df["1 day change"]=df["Price"]-df["Prev Day Price"] #and this creates a column for the difference in price each day
df

             Price  Prev Day Price  1 day change
Date
2017-08-15  171.00             NaN           NaN
2017-08-16  170.00          171.00         -1.00
2017-08-17  166.91          170.00         -3.09
2017-08-18  167.41          166.91          0.50
2017-08-21  167.78          167.41          0.37
2017-08-22  169.64          167.78          1.86
2017-08-23  168.71          169.64         -0.93
2017-08-24  167.74          168.71         -0.97
2017-08-25  166.32          167.74         -1.42
2017-08-28  167.24          166.32          0.92

for 5 day difference:

In [11]:
df["5 day % return"] =(df["Price"]- df["Price"].shift(5)*100/df["Price"].shift(5))
df

             Price  Prev Day Price  1 day change  5 day % return
Date
2017-08-15  171.00             NaN           NaN             NaN
2017-08-16  170.00          171.00         -1.00             NaN
2017-08-17  166.91          170.00         -3.09             NaN
2017-08-18  167.41          166.91          0.50             NaN
2017-08-21  167.78          167.41          0.37             NaN
2017-08-22  169.64          167.78          1.86           69.64
2017-08-23  168.71          169.64         -0.93           68.71
2017-08-24  167.74          168.71         -0.97           67.74
2017-08-25  166.32          167.74         -1.42           66.32
2017-08-28  167.24          166.32          0.92           67.24

to shift date instead:

In [19]:
df2=pd.read_csv('/content/fb - Sheet1.csv', parse_dates=['Date'], index_col='Date')
df2 #get orginal df back

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [20]:
df.index #shows "freq=None"... but you need to get freq before you can shift dates

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [24]:
df2.index=pd.date_range(start="2017-08-15", periods=10, freq="B")
df2.index #recreate the date range and supply it to the df to give it a frequency

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [25]:
df.tshift(1) #so now tshift can move the dates

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: tshift is deprecated and will be removed in a future version. Please use shift instead.
  """Entry point for launching an IPython kernel.

Date
2017-08-16    171.00
2017-08-17    170.00
2017-08-18    166.91
2017-08-21    167.41
2017-08-22    167.78
2017-08-23    169.64
2017-08-24    168.71
2017-08-25    167.74
2017-08-28    166.32
2017-08-29    167.24
Name: Price, dtype: float64