<a href="https://colab.research.google.com/github/rubyspch/Colaboratory-Notes/blob/main/time_series3_holidays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df= pd.read_csv("/content/july11-29 - Sheet1.csv") #data from july 2016
df

      Open    High     Low   Close    Volume
0    96.75   97.65   96.73   96.98  23794945
1    97.17   97.70   97.12   97.42  24167463
2    97.41   97.67   96.84   96.87  25892171
3    97.39   98.99   97.32   98.79  38918997
4    98.92   99.30   98.50   98.78  30136990
5    98.70  100.13   98.60   99.83  36493867
6    99.56  100.00   99.34   99.87  23779924
7   100.00  100.46   99.74   99.96  26275968
8    99.83  101.00   99.13   99.43  32702028
9    99.26   99.30   98.31   98.66  28313669
10   98.25   98.84   96.92   97.34  40382921
11   96.82   97.97   96.42   96.67  56239822
12  104.26  104.35  102.75  102.95  92344820
13  102.83  104.45  102.82  104.34  39869839
14  104.19  104.55  103.68  104.21  27733688

In [10]:
dates=pd.date_range(start="7/1/2016", end="7/22/2016", freq="B")
dates #this includes 4th july, but this is a holiday and they don't trade, so need to upload us holiday dates...

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12',
               '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-18',
               '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22'],
              dtype='datetime64[ns]', freq='B')

In [9]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb=CustomBusinessDay(calendar=USFederalHolidayCalendar()) #makes usb the freq to use...
usb

In [15]:
july_range=pd.date_range(start="7/1/2016", end="7/22/2016", freq=usb)
# you can now add this to the july data as it excludes holidyas and weekends

In [17]:
df.set_index(july_range, inplace=True)
df

              Open    High     Low   Close    Volume
2016-07-01   96.75   97.65   96.73   96.98  23794945
2016-07-05   97.17   97.70   97.12   97.42  24167463
2016-07-06   97.41   97.67   96.84   96.87  25892171
2016-07-07   97.39   98.99   97.32   98.79  38918997
2016-07-08   98.92   99.30   98.50   98.78  30136990
2016-07-11   98.70  100.13   98.60   99.83  36493867
2016-07-12   99.56  100.00   99.34   99.87  23779924
2016-07-13  100.00  100.46   99.74   99.96  26275968
2016-07-14   99.83  101.00   99.13   99.43  32702028
2016-07-15   99.26   99.30   98.31   98.66  28313669
2016-07-18   98.25   98.84   96.92   97.34  40382921
2016-07-19   96.82   97.97   96.42   96.67  56239822
2016-07-20  104.26  104.35  102.75  102.95  92344820
2016-07-21  102.83  104.45  102.82  104.34  39869839
2016-07-22  104.19  104.55  103.68  104.21  27733688

pandas library has holidays for US built in as an example, and you can use the class to create a custom holiday calendar:

first copy the usfederalcalendar clas from the pandas [github](https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/holiday.py):

```
class USFederalHolidayCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("New Years Day", month=1, day=1, observance=nearest_workday),
        USMartinLutherKingJr,
        USPresidentsDay,
        USMemorialDay,
        Holiday("July 4th", month=7, day=4, observance=nearest_workday),
        USLaborDay,
        USColumbusDay,
        Holiday("Veterans Day", month=11, day=11, observance=nearest_workday),
        USThanksgivingDay,
        Holiday("Christmas", month=12, day=25, observance=nearest_workday),
    ]
```

In [21]:
#create your birthday as a holiday using this class template: 
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class myBirthdayCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Ruby's Birthday", month=3, day=23) #, observance=nearest_workday),
    ]

myCal=CustomBusinessDay(calendar=myBirthdayCalendar())
myCal #creates an instance of  business calendar

In [22]:
pd.date_range(start="03/01/2020", end="03/31/2020", freq=myCal) #shows a timeseries without 23rd, as that a holiday on the myCal freq

DatetimeIndex(['2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
               '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11',
               '2020-03-12', '2020-03-13', '2020-03-16', '2020-03-17',
               '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30',
               '2020-03-31'],
              dtype='datetime64[ns]', freq='C')

to make the holiday observable on the following weekday, or previous friday, comment in the 'observance= nearest_workday' when making the rules for the calendar.

More ways to use CustomBusinessDay:

In [23]:
b = CustomBusinessDay(weekmask="Sun Mon Tue Wed Thu") #apply this as freq to create custom weekends
pd.date_range(start="03/01/2020", end="03/31/2020", freq=b)

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-08', '2020-03-09', '2020-03-10',
               '2020-03-11', '2020-03-12', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-22',
               '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26',
               '2020-03-29', '2020-03-30', '2020-03-31'],
              dtype='datetime64[ns]', freq='C')

In [24]:
c = CustomBusinessDay(weekmask="Sun Mon Tue Wed Thu", holidays=["2020-03-23"]) #add holiday rule to add a holiday to CustomBusinessDay
pd.date_range(start="03/01/2020", end="03/31/2020", freq=c)

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-08', '2020-03-09', '2020-03-10',
               '2020-03-11', '2020-03-12', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-22',
               '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-29',
               '2020-03-30', '2020-03-31'],
              dtype='datetime64[ns]', freq='C')