<a href="https://colab.research.google.com/github/rubyspch/Colaboratory-Notes/blob/main/using_to_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use to_datetime to solve problem of inconsistency of the format of date data...

In [1]:
import pandas as pd
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']

In [2]:
pd.to_datetime(dates) #pass the list through this and it converts them

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [3]:
datesTime = ['2017-01-05', 'Jan 5, 2017', '01/05/2017 14:30:00', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(datesTime) #it can also handle it if you add a time to one of the dates

DatetimeIndex(['2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

Default it does mm/dd/yyyy. To switch date format bw us and eu format:

In [4]:
pd.to_datetime(datesTime, dayfirst=True) #dayfirst attrib

DatetimeIndex(['2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-05-01 14:30:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
pd.to_datetime('4#5#2017', format='%d#%m#%Y') #format argument,  create template for the datetime supplied to tell pd how to convert it

Timestamp('2017-05-04 00:00:00')

if list includes a string that pd cant convert, it will throw up an error. To avoid this use errors attrib. :

```
pd.to_datetime(datesErr, errors='ignore')
```
^ this will stop the conversion, pd will abandon and nothing will get converted. To ignore just the error:
```
pd.to_datetime(datesErr, errors='coerce')
```

In [16]:
datesErr = ['2017-01-05', 'Jan 5, 2017', 'abc', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(datesErr, errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-05',        'NaT', '2017-01-05',
               '2017-01-05', '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

Epoch converter is number of seconds since jan 1 1970.

In [17]:
current_epoch = 1501324478
pd.to_datetime(current_epoch, unit='s')

Timestamp('2017-07-29 10:34:38')

In [18]:
pd.to_datetime(current_epoch*1000, unit='ms')

Timestamp('2017-07-29 10:34:38')

In [19]:
t = pd.to_datetime([current_epoch], unit='s')
t

DatetimeIndex(['2017-07-29 10:34:38'], dtype='datetime64[ns]', freq=None)

In [20]:
t.view('int64') #gets back the epoch time, with zeros for nano seconds.

array([1501324478000000000])